html {
  font-family: sans-serif;
  font-size:0.55em;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

table {
  border: 1px black solid;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px;
}
table, tr, td, th, tbody, thead{vertical-align:baseline}
th, td {
  border: 1px black solid;
  text-align: left;
  padding: 2px;
  white-space: nowrap;
}

/*
http://stackoverflow.com/questions/4918018/eliminate-padding-margin-around-pics-in-td-elements
Finally, I add this line, which removes that stupid spacing which appears all the time, the one that isn't padding, margin or anything.
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }
*/
h1, h2, h3, h4, h5, h6, th, td, caption {
  font-weight:normal;
  margin: 0.5em;
}





a[href]:after { content : "" }
